#comment out values that have a default or if you want 
#to be prompted, or pass values via the env.
defaultBucket="com-qubole-test-jellin"
accountId="1234"
bastionIncomingCidr="23.21.142.142/32"
externalId="abcd"
quboleAccountId="1234"
rdspassword="mysql!2345"
prefix-tag="jellin"